body {
    margin: 0;
}

.header { 
    background-color: #eff0f2;
}

.header-nav {
    padding-top: 64px;
    margin-bottom: 204px;
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-size: 42px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 5px 8px 7px rgba(0,0,0, .2);
    color: #505050;    
}

.colored-text {
    background: #b2f2ee;
    padding: 7px 10px;
}

.header-button {
    width: calc(100% + 60px);
    height: 52px;
    border: 2px solid #777879;
    border-radius: 2px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.btn-img {
    position: relative;
    left: 0;
    top: 27px;
}

.buttons {
    margin-top: 150px;
    padding-bottom: 195px;
}

.featured {
    padding-top: 130px;
    padding-bottom: 125px;
}

.title-big {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 38px;
    text-transform: uppercase;
    color: #343434;
    margin-bottom: 17px;
}

.title-small {
    text-transform: uppercase;
    font-size: 17px;
    color: #708f9b;
    font-family: 'Merriweather', serif;
}

.card-img {
   width: 100%;
   padding-top: 13px;  
}